<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tibia Website - Remake</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/dist/site.css" />
</head>
<body class="layout-base col">

    <div class="content-holder row">
        <!-- Header -->
        <header>
        </header>
        
        <!-- Content -->
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

        <!-- Footer -->
        <footer class="border-top footer text-muted">
        </footer>
    </div>

    <!-- Scripts -->
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    <script src="~/dist/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
