.navigation{
    padding: 3px 0;

    button{
        margin-top: 1px;
        width: 150px;
        height: 37px;
        border: 0;

        background-color: unset;
        background-image: url('/images/navigation/mediumbutton.gif');
        background-position: top center;
        background-repeat: no-repeat;
        
        font-family: 'Ubuntu', sans-serif;

        font-size: 18px;
        color: rgb(221, 200, 82);
        font-weight: bold;

        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

        &:hover{
            background-image: url('/images/navigation/mediumbutton-over.gif');
        }

        cursor: pointer;
    }

    a{
        font-size: 11px;
        color: rgb(190, 188, 165);
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        
        &:hover{
            color: rgb(138, 132, 78);
            text-decoration: none;
        }
    }

    .logo{
        img{
            z-index: 2;
        }
    }

    .row{
        margin: 0;
    }
    
    .col-12{
        padding: 0;
    }

    .first-box{
        margin-top: -5px;
    }

    .box{
        min-width: 200px;
        margin-bottom: 15px;

        ul{
            padding: 0;
            margin: 0;

            li{
                list-style-type: none;
            }
        }

        .box-header, .box-footer{
            background-image: url('/images/navigation/box-top.gif');
            background-repeat: no-repeat;
            background-position: center top;
            height: 12px;
        }
    
        .box-content{
            .box-side-chain{
                background-image: url('/images/navigation/chain.gif');
                background-repeat: repeat-y;
                background-position: center top;
                width: 7px;
                padding: 0;
                z-index: 1;
                $side-margin: 15px;

                &.left{
                    margin-left: $side-margin;
                }

                &.right{
                    margin-right: $side-margin;
                }
            }

            .center{
                background-image: url('/images/navigation/box-background.png');
                background-repeat: repeat;
                background-position: center top;
                z-index: 0;
                margin: 0 -3px;
                padding: 0;
                padding-bottom: 2px;
                text-align: center;
                line-height: 11px;
            }

            &.links{
                text-align: center;

                .center{
                    background-image: none;
                    background-color: rgb(13, 46, 43);

                    li{
                        border-bottom: solid 1px #4b7874;
                        text-align: left;
                        padding: 4px 0 4px 17px;

                        &:hover{
                            background-color: rgb(20, 67, 63);
                        }

                    }
                    a{
                        font-family: Arial, Helvetica, sans-serif;
                        color:#d7d7d7;
                        font-size: 13.33px;
                        font-weight: 700;

                        &:hover{
                            color:white;
                        }
                    }
                }

                .category-button{
                    padding: 0;
                    height: 32px;
                    button{
                        color: rgb(197, 167, 140);
                        background-image: url('/images/navigation/button-background.gif');
                        width: 200px;
                        height: 32px;
                        padding: 0;
                        margin: 0;

                        
                        &:focus, &:hover {
                            background-image: url('/images/navigation/button-background-over.gif');
                            outline: none;
                        }

                        .row{
                            font-family: martel;

                            width: 150px;
                            margin: auto;

                            .col{
                                padding: 0;
                                font-size: 21px;
                                padding-top: 1px;
                                font-weight: 300;
                            }
    
                            .icon{
                                width: 32px;
                                height: 32px;
                                background-repeat: no-repeat;
                                background-position: center top;
                            }
                        }


                        &::after{
                            content: "";
                            width: 12px;
                            height: 12px;
                            position: absolute;
                            right: 14px;
                            bottom: 0;
                            background-image: url('/images/navigation/plus.gif');
                        }
        
                        &.opened{
                            &::after{
                                background-image: url('/images/navigation/minus.gif');
                            }
                        }
                    }
                }
            }
        }
    
        .box-footer{
            transform: rotateX(180deg);
        }

    }

}