<footer class="footer col-12">
    Tibia is a Trademark that belongs to CipSoft GmbH. Website developer by <a href="mailto:ivanscavalheiro@gmail.com">Ivan S. Cavalheiro</a>. <br/>
    <a href="/abouttibia/?subtopic=aboutcipsoft">About CipSoft</a> 
    | <a href="/support/?subtopic=legaldocuments&page=agreement">Service Agreement</a> 
    | <a href="/support/?subtopic=legaldocuments&page=privacy">Privacy Policy</a>
</footer>