<div class="navigation col-2">
    <div class="logo row">
        <a href="~/"><img src="~/images/navigation/tibia-logo-artwork-top.gif"/></a>
    </div>

    <!-- Box -->
    <div class="box row">
        <div class="col-12">
            <div class="first-box box-header row">
            </div>
            <div class="box-content row">
                <div class="box-side-chain left"></div>
                <div class="col center">
                    <button>Login</button><br/>
                    <a href="#">Create Account</a>
                </div>
                <div class="box-side-chain right"></div>
            </div>
            <div class="box-footer row">
            </div>
        </div>
    </div>
</div>